<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h1">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= button_to "Pull new Tweets", dashboard_update_path, method: :get,  class: "btn btn-sm btn-outline-secondary" %>
  </div>
</div>

<h4 class="mt-5">Resume of last update</h4>
<div class="row">
  <div class="col-sm-12">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <strong>Status:</strong> <span class="status-<%= @last_record.status %>"><%= @last_record.status %></span> -
        <strong>Date:</strong> <%= @last_record.created_at %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-light mb-3">
      <div class="card-header">Keyword Percent</div>
      <div class="card-body">
        <h3 class="card-title text-center"><%= number_to_percentage(@last_record.keyword_percent, precision: 2) %></h3>
        <p class="card-text text-center">Percent of tweets with keywords</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="card bg-light mb-3">
        <div class="card-header">Total Tweets</div>
        <div class="card-body">
          <h3 class="card-title text-center"><%= @last_record.total_tweets %></h3>
          <p class="card-text text-center">Number of tweets pulled</p>
        </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="card bg-light mb-3">
        <div class="card-header">Total Keyword's Tweets</div>
        <div class="card-body">
          <h3 class="card-title text-center"><%= @last_record.total_keywords %></h3>
          <p class="card-text text-center">Number of tweets with keywords</p>
        </div>
      </div>
  </div>
</div>

<h4 class="mt-5">Tweets pulled</h4>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Message</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'tweet', collection: @last_record.tweets.with_keywords %>
    </tbody>
  </table>
</div>




