<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div class="field">
    <%= form.label :sentiment %>
    <%= form.text_field :sentiment %>
  </div>

  <div class="field">
    <%= form.label :keyword %>
    <%= form.select :keyword  do %>
      <%= options_for_select([["Yes", true], ["No", false]]) %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select :user_id  do %>
      <%= options_for_select(User.all.map { |u| [u.username, u.id]}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
