<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h1">Tweets</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <%#= link_to 'New Tweet', new_tweet_path, class: "btn btn-sm btn-outline-secondary" %>
  </div>
</div>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>Message</th>
      <th>Sentiment</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.message %></td>
        <td><%= tweet.sentiment %></td>
        <td><%= tweet.user %></td>
        <td><%= link_to 'Show', tweet, class: 'btn btn-outline-secondary' %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet), class: 'btn btn-outline-secondary' %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>