<p>
  <strong>User:</strong>
  <%= @tweet.user.username %>
</p>

<p>
  <strong>Message:</strong>
  <%= @tweet.message %>
</p>

<p>
  <strong>Sentiment:</strong>
  <%= @tweet.sentiment %>
</p>


<p>
  <strong>Followers:</strong>
  <%= @tweet.user.followers %>
</p>
