<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h1">Users</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to 'New User', new_user_path, class: "btn btn-sm btn-outline-secondary" %>
  </div>
</div>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>Username</th>
      <th>Followers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.followers %></td>
        <td><%= link_to 'Show', user, class: 'btn btn-outline-secondary' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-outline-secondary' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
