<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Followers:</strong>
  <%= @user.followers %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
