<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "Dashboard", root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Tweets", tweets_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Users", users_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>