<!DOCTYPE html>
<html>
  <head>
    <title>TweetsReport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>

    <div class="container-fluid">
        <%= render "shared/aside" %>
        <div class="row">
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
          </main>
      </div>
    </div>
  </body>
</html>
